@media (max-width: 800px) {
    .hamburger{
        display: block;
        margin-right: 30px;
    }

    .logo{
        width: 20%;
    }

    .navbar{
        display: none;
    }

    .slider--content{
        margin-top: 100px;
    }

    .nav-main{
        justify-content: space-between;
    }

    .origin--grid{
        grid-template-columns: 1fr;
    }

    .origin-grid--item1
    {
        height: 400px;
    }

    .origin-grid--item2{
        height: 250px;
    }

    .origin--story{
        font-size: clamp(14px, calc(4px + 0.7vw), 50px);
    }

    .shop--description{
        font-size: clamp(14px, calc(4px + 0.7vw), 50px);
        width: 60%;
    }

    .offer-grid--item1,
    .offer-grid--item4,
    .offer-grid--item5,
    .offer-grid--item8,
    .offer-grid--item9,
    .offer-grid--item12{
        height: 250px;
    }

    .offer-grid--item2,
    .offer-grid--item3,
    .offer-grid--item6,
    .offer-grid--item7,
    .offer-grid--item10,
    .offer-grid--item11{
        padding-top: 60px;
    }

    .offer-grid--item3,
    .offer-grid--item7,
    .offer-grid--item11{
        padding-bottom: 30px;
    }
    
    .offer--grid-1,
    .offer--grid-2,
    .offer--grid-3,
    .offer--grid-4,
    .offer--grid-5,
    .offer--grid-6,
    .offer--grid-7,
    .offer--grid-8,
    .offer--grid-9,
    .offer--grid-10,
    .offer--grid-11,
    .offer--grid-12{
        grid-template-columns: 1fr;
    }
}