@media (max-width: 800px) {
    .hamburger{
        display: block;
        margin-right: 30px;
    }

    .logo{
        width: 20%;
    }

    .navbar{
        display: none;
    }

    .nav-main{
        justify-content: space-between;
    }

    .origin--grid{
        grid-template-columns: 1fr;
    }

    .origin-grid--item1,
    .origin-grid--item2{
        height: 400px;
    }

}